body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    /* color: #fff; */
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3rem;
}

h3 {
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
    font-size: 1rem;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
    color: #fff;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
    /* color : white; */
    /* font-size: 1rem; */
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monteserrat-Light";
    /* color : white; */
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
    /* font-weight: bold; */
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 20%;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-col {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section  */

#testimonials {
    background-color: #ef8172;
    text-align: center;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    padding: 25px;
}

.testimonial-text
{
    color: black;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing
{
    padding: 100px;
    text-align: center;
}

.price-col
{
    padding: 3% 2%;
}

.price-btn
{
    width: 100%;
}

@media (max-width:980px)
{
    #title
    {
        text-align: center;
    }

    .title-image
    {
        position: static;
        transform: rotate(0);
    }
}

#cta
{
    background-color: #ff4c68;
    text-align: center;
    font-family: "Montserrat";
    color: white;
    padding: 5% 15% 1%;
}

.cta-h3
{
    font-size: 4rem;
    margin-bottom: 7%;
}

#footer
{
    background-color: white;
    text-align: center;
    margin: 60px;
}

.fa-footer
{
    margin: 20px 10px 0px;
    color: black;
}